.home-page-first-section {
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;

  .container {
    position: relative;
  }

  .img-overlay {
    background: white;
    position: absolute;
    left: 0;
    border-radius: 10px;
    margin-top: 15%;
    padding: 3% 2%;

    .home-page-first-para {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 0;
      color: green;
    }

    .home-page-second-para {
      font-size: 32px;
      font-weight: bold;
    }

    .location-input {
      margin: 3% 0;
      width: 100%;
    }

    .search-btn {
      margin: 3% 0;
      width: 100%;
    }
  }
}

.home-page-second-section {
  margin-top: 5%;
  height: 100vh;

  .users-near-you {
    border: 1px solid black;
    border-radius: 20px;
    margin: 2% auto;
    padding: 5%;

    .restaurant {
      font-size: 25px;
      font-weight: 700;
    }

    .delivery-fee {
      font-weight: 200;
    }

    .lets-join-btn {
      margin-top: 5%;
      text-align: center;
    }

    .time {
      margin-left: 4%;
    }
  }
}
