.orders-created-section {
  .orders-created-heading {
    margin-bottom: 3%;
  }

  .row {
    .col-sm-4 {
      text-align: left;

      .card {
        border-radius: 20px;
        background-color: #f8ceec;
        background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
        margin-bottom: 10%;

        .restaurant {
          font-size: 26px;
        }

        .created-by-user {
          margin-top: 3%;
        }

        .delivery-fee {
          margin-top: 3%;
        }

        .edit-btn {
          margin-top: 5%;
          text-align: center;

          .btn {
            color: white;
            background-color: #7f53ac;
            background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
          }
        }

        .no-of-pax {
          margin-top: 3%;
        }

        .meetupPoint {
          margin-top: 3%;
        }

        .time {
          margin-top: 3%;
        }
      }
    }
  }
}
