.home-page-first-section {
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;

  .container {
    position: relative;
  }

  .img-overlay {
    background: white;
    position: absolute;
    left: 0;
    border-radius: 10px;
    margin-top: 10%;
    padding: 3% 2% 1% 2%;

    .home-page-first-para {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 0;
      color: green;
    }

    .home-page-second-para {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 0px !important;
    }

    .location-input {
      margin: 3% 0;
      width: 100%;
    }

    .search-btn {
      margin: 3% 0;
      width: 100%;
    }
  }
}

.home-page-second-section {
  margin-top: 5%;
  height: 100vh;

  img {
    width: 100%;
    border-radius: 20px;
  }
}
.form-group,
.col-4 {
  padding: 5px;
  margin: 0px auto !important;
}

.btn {
  margin-top: 15px !important;
  margin-bottom: 0px !important;
}

.form-control {
  margin-top: 0px !important;
}
