.navbar {
  height: 70px;
  .btn {
    background: white;
    border: 0.5px solid black;
  }
  .first-text-heading {
    font-family: "Monoton", cursive;
  }
  .second-text-heading {
    font-family: "Leckerli One", cursive;
  }
}
